<% content_for :page_title, "Overview" %>
<% content_for :page_subtitle, "Investing decisions made easier" %>
<section>
<h1><b>How does this works?</b></h1>
<br>
<p>Go to 'Investment strategies'. Once you have chosen the investment strategy that best suits you, the rankings of stocks from Singapore companies which have stocks that best meet your investment strategy will be ranked.</p>
<br>
<br>
<h5><b>How are they ranked?</b></h5>
<br>
<p>To find out more, simply go to 'Indicators'. There will be explanation on the indicators and how they are calculates</p>
<br>
<br>
<h4><b>Find out more about the Singapore companies</b></h4>
<br>
<p>Simply go to 'Companies' to find out about their indicator scores, stock prices, and other information needed to ease your decision-making.</p>
<br>
</section>