index for companies

<% content_for :page_title, "Companies" %>
<% content_for :page_subtitle, "Information about Companies" %>
<br>
<strong>Indicator Score</strong>
<%#
<ul style="list-style-type:circle;">
	
	<% @indicators.each do |indicator| %>
	<%#

	<li><%= link_to indicator.name, indicator_path(indicator)%><%#</li>
	<%#

	<br>
	<% end %>
	<%#

</ul>
%>