<% content_for :page_title, "Indicators" %>
<% content_for :page_subtitle, "How companiesss are ranked" %>
<ul style="list-style-type:circle;">
	
	<% @indicators.each do |indicator| %>
	
	<li><%= link_to indicator.name, indicator_path(indicator)%></li>
	
	<br>
	<% end %>
</ul>