<% content_for :page_title, "Indicators" %>
<% content_for :page_subtitle, "How companies are ranked" %>
<!--<h1 class="title">Dividend Investing</h1>
<h1 class="content">
<ul style ="list-style-type:circle">
	<li>Dividend yield</li>
	<li>Earnings-per-share (EPS)</li>
	<li>Price-to-earnings Ratio (P/E Ratio)</li>
	<li>Pay-out Ratio</li>
	<li>Total Return</li>
</ul>
</h1>
<br>
<h1 class="title">Value Investing</h1>
<h1 class="content">
<ul style ="list-style-type:circle">
	<li>Price-to-earnings Ratio</li>
	<li>Earnings-per-share (EPS)</li>
	<li>Current Ratio</li>
	<li>Acid Test (Quick Ratio)</li>
	<li>Debt-to-Equity Ratio (D/E Ratio)</li>
</ul>
</h1>
<br>-->
<h1 class="title">Indicators</h1>

<div class="box">
		<h5><b>Dividend Yield</b></h5><br>
		<h5>Dividend yield refers to stock’s annual dividend payments to shareholders, expressed as a percentage of the stock’s current price.</h5><br>
		<h5>Dividend yield = Annual dividend / Stock Price x 100</h5>
	<br>
</div>
<div class="box">
		<h5><b>Earnings-per-share (EPS)</b></h5><br>
		<h5>Earnings-per-share is a measure of how much profit a company has generated.</h5>
		<br>
		<h5>Earnings-per-share = (Net Income - Preferred Dividends) / End-of-Period Common Shares Outstanding</h5>
	<br>
</div>
<div class="box">
		<h5><b>Price-to-earnings ratio (P/E ratio)</b></h5><br>
		<h5>The price-to-earnings ratio indicates the dollar amount an investor can expect to invest in a company to receive one dollar of that company’s earnings. It often shows how much investors are willing to pay per dollar of earnings. This ratio is important as it provides a measurement for comparing whether a stock is overvalued or undervalued.</h5>
		<br>
		<h5>P/E Ratio = Price per share / Earnings per share</h5>
	<br>
</div>
<div class="box">
		<h5><b>Pay-out Ratio</b></h5><br>
		<h5>The pay-out ratio helps to gauge the sustainability of a company’s dividend payment stream.</h5>
		<br>
		<h5>Payout Ratio = Dividends per share (DPS) / Earnings per share(EPS)</h5>
	<br>
</div>
<div class="box">
		<h5><b>Total return</b></h5><br>
		<h5>Total return is a measurement of the overall rate of return of an investment, including dividends, interest payments, capital gains and any other distributions. It is a strong measure of an investment’s overall performance.</h5>
		<br>
		<h5>Total return = Total investment gains / Original value of investment x 100</h5>
	<br>
</div>
<div class="box">
		<h5><b>Current Ratio</b></h5><br>
		<h5>The current ratio is a liquidity ratio that measures a company’s ability to pay off short-term obligations or those due within one year.</h5>
		<br>
		<h5>Current Ratio = Current Assets / Current Liabilities</h5>
	<br>
</div>
<div class="box">
		<h5><b>Acid Test Ratio (Quick Ratio)</b></h5><br>
		<h5>Quick ratio measures a company’s short-term obligations with its most liquid assets. It represents the company’s ability to instantly use it near-cash assets to pay down its current liabilities(company’s debts or obligations that are to be paid to creditors within one year).</h5>
		<br>
		<h5>Quick Ratio = (Cash & Cash Equivalents + Current Receivables + Short-term investments) / Current liabilities</h5>
	<br>
</div>
<div class="box">
		<h5><b>Debt-to-equity Ratio (D/E Ratio)</b></h5><br>
		<h5>The debt-to-equity ratio is a measure of a company’s degree of financing its operations through debt as compared to funds owned by it. More specifically, it reflects the ability of the shareholder equity to cover all outstanding debts in the event of a business downturn.</h5>
		<br>
		<h5>Debt-to-equity Ratio = Total liabilities / Total shareholders' equity</h5>
	<br>
</div>