<% content_for :page_title, "Strategies" %>
<% content_for :page_subtitle, "Different types of strategies" %>
<h1 class="title is -2">Types of Investing Strategies</h1>
<br>
<% @strategies.each do |strategy| %>
	<div class="box is-primary">
		<h1><b><%= strategy[:name]%></b></h1>
		<br>
		
		<h3><%= strategy[:explanation]%></h3>
		<br>
		<div class="content">
		<h6><b><%= "Indicators for #{strategy[:name]}"%></b></h6>
		<ul style ="list-style-type:circle">
		<% for i in 0...strategy[:indicators].length %>
			<% @indicators = strategy[:indicators] %>
			<li><%= @indicators[i] %></li>
		<% end %>
		</ul>
	</div>
	<br>
	</div>
<% end %>
