<% content_for :page_title, "Strategies" %>
<% content_for :page_subtitle, "Different types of strategies" %>
<h1>Types of Investing Strategies</h1>
<% @strategies.each do |strategy| %>
	<div class="box">
		<h2><%= strategy[:name]%></h2>
		<h3><%= strategy[:explanation]%></h3>
	<br>
	</div>
<% end %>
