<b><%= "Results for #{params['strategy_type']}"%></b>


<% @companies.each do |company| %>
    <div class="box">
        <h2 class="companies"><%= company[:company]%></h2>
        <h3><%= company[:result]%></h3>
    </div>
<% end %>